a img {
    display: flex;
    margin: auto;
    padding: 10px;
}
.search-box {
    border: solid grey 2px;
    margin: 10px auto;
    width: 60%;
}
input {
    border: none;
}
input:focus {
   outline: none;
}
/*============================== CUSTOM CHANGES TO LIGHT GALLERY PLUG IN =========================================*/
.lg-outer #lg-share,
  #lg-actual-size,
 .lg-download,
 .lg-autoplay-button,
 #lg-zoom-in,
 #lg-zoom-out,
 .lg-fullscreen,
 .lg-outer .lg-toogle-thumb {
   display: none;
 }
 
.lg-actions .lg-next {
  right: 120px;
}
.lg-actions .lg-prev {
  left: 120px;
}

/*============================== MEDIA QUERY-TABLET =========================================*/
 @media (min-width: 768px) {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
    }
  }
/*============================== MEDIA QUERY-DESKTOP =========================================*/

  @media (min-width: 1024px) {
   .row {
     justify-content: space-between;
   }
   [class^=row-] + [class^=row-] {
   }
   .row-1 {
     flex-basis: 23%;
   }
 }
 
